body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  /* border: 1px solid skyblue; */
}

a {
  font-family: "Quicksand", sans-serif;
}

h2 {
  font-family: "Kaushan Script", cursive;
}

h3 {
  font-family: "Kaushan Script", cursive;
}

.carousel-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  /* Add more styles as needed */
}



/* Item class for padding around carousel items */
.carousel-item-padding-40-px {
  padding: 0 20px;
}
.carousel-item-padding-40-px img {
  width: 100%;
}